@font-face {
  font-family: 'Neucha-Regular';
  src: url('../fonts/Neucha-Regular/Neucha-Regular.eot');
  src: url('../fonts/Neucha-Regular/Neucha-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Neucha-Regular/Neucha-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular/Neucha.svg#Neucha') format('svg'),
       url('../fonts/Neucha-Regular/Neucha.ttf') format('truetype'),
       url('../fonts/Neucha-Regular/Neucha.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gabriola';
  src: url('../fonts/Gabriola/Gabriola.eot');
  src: url('../fonts/Gabriola/Gabriola.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gabriola/Gabriola.svg#Gabriola') format('svg'),
       url('../fonts/Gabriola/Gabriola.ttf') format('truetype'),
       url('../fonts/Gabriola/Gabriola.woff') format('woff'),
       url('../fonts/Gabriola/Gabriola.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MV BOLI';
  src: url('../fonts/mvboli.eot');
  src: url('../fonts/MVBoli/MVBoli.svg#MVBoli') format('svg'),
       url('../fonts/MVBoli.ttf') format('truetype'),
       url('../fonts/MVBoli.woff') format('woff'),
       url('../fonts/mvboli.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}









