@font-face {
  font-family: '8943';
  src: url('8943.eot');
  src: url('8943.eot?#iefix') format('embedded-opentype'),
       url('8943.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RuslanDisplay';
  src: url('RuslanDisplay.svg#RuslanDisplay') format('svg'),
       url('RuslanDisplay.ttf') format('truetype'),
       url('RuslanDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

